<div style="float:left;width:48%">
    <table title="Folder Browser" class="easyui-treegrid" style="width:100%;height:500px" id="filestree"></table>
    <div id="tb">
        <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="ViewFile()">View</a>
        @if (User.IsInRole("NormalUser")) {         
        <a href="#" class="easyui-linkbutton" iconcls="icon-download" plain="true" onclick="downloadfiles()">Download</a>
        }
        else if (User.IsInRole("Developer"))
        {
            <a href="#" class="easyui-linkbutton" iconcls="icon-upload" plain="true" onclick="Upload()">Upload Files</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-folder" plain="true" onclick="CreateFolder()">Create Folder</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-dependency" plain="true" onclick="ShowDependency()">Show Dependencies</a>

        }
        else if (User.IsInRole("Admin"))
        {
            <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="DeleteFiles()">Delete Files</a>
            <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="RenameFolder()">Rename Folder</a>
        }
        <a href="#" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="Refreshtree()">Refresh</a>
    </div>
</div>

<div>
    <div id="showfiles" style="padding-left:10px;float:left;width:45%">
        <div id="filepanel" style="float:left;display:block;height:500px">
        </div>
        
    </div>
    <div id="showpics" style="padding-left:10px;float:left;width:45%">
        <div id="picpanel" style="float:left;display:block;height:500px">
        </div>
       
    </div>
    <a id="prefile" style="margin-left:68%" href="#"></a>
    <a id="nextfile" href="#"></a>
</div>

<div id="dlg" class="easyui-dialog" title="Warning" style="width:300px;height:100px;padding:10px"
     data-options="
                buttons: '#dlg-buttons',
                closed: 'true'
            ">

</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" id="dlg-ok" class="easyui-linkbutton" iconcls="icon-ok" >OK</a>
    
</div>



    <script>

    function Back() {
        $('#dlg').dialog('close');

    }
    
    function Refreshtree() {
        $('#filestree').treegrid('reload');
        $('#filestree').treegrid('unselectAll');
    }
    

    $("#filestree").treegrid({
        method: 'get',
        rownumbers: false,
        idField: 'id',
        treeField: 'FileName',
        url: '@Url.Action("Getjson", "NormalUsers")',
        columns: [[
               // {field:"ck",checkbox:true,width:40},
                {
                    title: 'FileName', field: 'FileName', formatter: function (val, row, index) {
                        return "<input id='ck" + row.id + "' TYPE=\"checkbox\"></input>" + row.FileName;
                    }, width: 200
                },
                {
                    title: 'Size', field: 'Size', width: 100, align: 'center',

                },
                { title: 'FullPath', field: 'FullPath', width: 320 },
        ]],
        singleSelect: false,
        toolbar: '#tb',

        onClickRow: function (row) {
            var selectedNode = $(this).treegrid('getSelected');
            if ($('#ck' + row.id).is(":checked") == true)
                $('#ck' + row.id).prop("checked", false);
            else
                $('#ck' + row.id).prop("checked", true);
            if (selectedNode) {
                var childNodes = $("#filestree").treegrid('getChildren', row.id);
                if (childNodes.length > 0) {
                    if ($('#ck' + row.id).is(":checked") == true) {
                        for (i = 0; i < childNodes.length; i++) {
                            $('#ck' + childNodes[i].id).prop("checked", true);
                            $("#filestree").treegrid('select', childNodes[i].id);

                        }
                    }
                    else {
                        for (i = 0; i < childNodes.length; i++) {
                            $('#ck' + childNodes[i].id).prop("checked", false);
                            $("#filestree").treegrid('unselect', childNodes[i].id);
                        }
                    }
                }



            }


        }
    });
    function downloadfiles() {
        var rows = $("#filestree").treegrid("getSelections");
        if (rows.length > 0) {
            var files = [];
            var temprows = [];
            [].push.apply(temprows, rows);
            for (var i = 0; i < temprows.length; i++) {
                if (temprows[i] == null) continue;
                if (temprows[i].Size == "") {
                    temprows[i].FullPath = "[folder]" + temprows[i].FullPath;

                    var children = $("#filestree").treegrid('getChildren', temprows[i].id);
                    for (var j = 0; j < temprows.length; j++) {
                        for (var x = 0; x < children.length; x++) {
                            if (children[x] != null && temprows[j] != null)
                                if (children[x].id == temprows[j].id) {
                                    temprows[j] = null;
                                    break;
                                }
                        }
                    }
                }
                files.push(temprows[i].FullPath);
            }

            var url = '@Url.Action("Download", "NormalUsers")' + "?fullpath=" + files;
            window.location.href = url;
        }
        else {

        }


    }

    function NextFile(i) {
        var rows = $("#filestree").treegrid("getSelections");
        if (i <= rows.length - 2) ShowFile(i + 1);
    }
    function PreFile(i) {
        if (i > 0) ShowFile(i - 1);
    }
    function ShowFile(i) {
        var rows = $("#filestree").treegrid("getSelections");
        var size = rows[i].Size;
        while (size == ""&&size!=null) {            
            i++;
            size = rows[i].Size;
        }
        $('#nextfile').linkbutton({
            iconCls: 'icon-redo',
            text: 'Next'
        });
        $('#nextfile').bind('click', function () {
            NextFile(i);
        });
        $('#prefile').linkbutton({
            iconCls: 'icon-undo',
            text: 'Pre'
        });
        $('#prefile').bind('click', function () {
            PreFile(i);
        });
        var fullpath = rows[i].FullPath;
        if (fullpath == "NULL") return;
        var filename = fullpath.substr(fullpath.lastIndexOf("\\") + 1);
        if (filename.indexOf(".jpg") != -1 || filename.indexOf(".png") != -1) {
            var filepanel = $('#picpanel');
            filepanel.panel({
                width: 530,
                height: 500,
                title: filename,
                href:null,
            });
            var path = fullpath.substr(fullpath.indexOf("~") + 2);
            filepanel.html("<img src='" + path + "' width='100%' height='100%'/>");
            $('#showfiles').hide();
            $('#showpics').show();
        }
        else {
            var url = '@Url.Action("viewFile", "NormalUsers")' + "?fullpath=" + fullpath;
            var filepanel = $('#filepanel');
            filepanel.panel({
                width: 530,
                height: 500,
                title: filename,
                href: url,
            });
            $('#showfiles').show();
            $('#showpics').hide();
        }
    }
    function ViewFile() {

        var rows = $("#filestree").treegrid("getSelections");
        if (rows.length == 0) {
            $('#dlg').dialog('open');
            $('#dlg').html("Please choose at least one file.");
            $('#dlg-ok').bind('click', function () { Back(); });
            return;
        }

        ShowFile(0);


    }



    
    </script>
