@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        60 Presidential PLZ<br />
        Syracuse, NY 13202<br />        
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Phone:</strong>   3152893962<br />
        <i class="icon-envelope"></i><strong>Email:</strong> <a href="cguan02@syr.edu">cguan02@syr.edu</a>
    </address>
</div>