@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/jquery")
<div class="jumbotron">
    <h1>File Repository</h1>
    <p class="lead">This website will support the storage, retrieval, and viewing of source code files.</p>
    <p><a href="/Home/Help" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-10">
        <dl>
            <dt>Role-based Activities</dt>
            <dd>
                There are 3 roles in this website.
                <ul>
                    <li>
                        <strong>Normal Users:</strong> Just view and download the files in the server.
                    </li>
                    <li>
                        <strong>Developers:</strong> Upload files; Create directories and specify files dependencies.
                    </li>
                    <li>
                        <strong>Administrator:</strong> Manage Roles; Rename Directories'; Delete files.
                    </li>               
                </ul>
            </dd>

        </dl>
    </div>
    
    
    
   
</div>