html{
    height:100%;
}
body {
    padding-top: 50px;
   
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-custom{
    margin-bottom: 10px;
    color:black;
    font-weight:100;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	/*when window width < menu bar length*/
    background-color: #E1E8E8;
	opacity:0.8;
}

.container-custom{
    width:1800px;
}

#bgindex {height:100%;
	background: url('./Images/BG.png') no-repeat center center fixed;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity:0.8;
}

#bgfeature {height:100%;
	background: url('./Images/background.png') no-repeat center center fixed;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    opacity:0.8;
}


.wrap{
     min-height: 100%;
     height: auto !important;
	 margin: 0 auto -30px;
     left: 10%;
     width: 80%;
}
.footer {
  text-align:center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  padding-top:5px;
  background: #fff;
  opacity:0.8;

}
.row-custom{
    background: none;
}
.panel-custom{
     overflow: hidden;
  text-align: left;
  border: 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
    margin-top:100px;
    background:none;
}
.jumbotron-custom{
    background-color: rgba(225, 237, 242, 0.4);
    width: 100%;
    
    margin-top: 50px;
}
.jumbotron-leftheader{
    max-width:50%;
}

.introduction{
    max-width:50%;
    height:200px;
    background: url('./Images/feature.png') no-repeat left;
    background-size: auto 200px;
    
}


.thumbnail-img{
    width:20%;
}
.thunbnail-custom{
    border-style:none;
    height:320px;
    background: rgba(177, 185, 185, 0.71);
}

.a-custom{
    color:#edf624;
}

.header-custom{
    color:white;
}

.text-custom{
    color:rgb(230, 227, 247);
    font-size:16px;
}

