
@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>Congratulations!!!!</h2>
<h3>Your Registration is successful.</h3>
@*<p>Click @Html.ActionLink("here", "Index", "Home") to return to Home page,then you can login with your account.</p>*@
<h3>@ViewBag.Message</h3>
