
@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>Congratulations!!!!</h2>
<h4>Your Registration is successful.</h4>
<p>Click @Html.ActionLink("here", "Index", "Home") to return to Home page,then you can login with your account.</p>

