@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.easyui.min.js"></script>
<h2>Normal User Page</h2>
@Html.Partial("_FileBrowserPartial")
